.pushable {
  @apply flex-auto mx-3 text-stone-900;

  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.edge_red {
  background: linear-gradient(
    to left,
    hsl(30deg 100% 16%) 0%,
    hsl(30deg 100% 32%) 8%,
    hsl(30deg 100% 32%) 92%,
    hsl(30deg 100% 16%) 100%
  );
}

.edge_yellow {
  background: linear-gradient(
    to left,
    hsl(50deg 100% 16%) 0%,
    hsl(50deg 100% 32%) 8%,
    hsl(50deg 100% 32%) 92%,
    hsl(50deg 100% 16%) 100%
  );
}

.edge_green {
  background: linear-gradient(
    to left,
    hsl(90deg 100% 16%) 0%,
    hsl(90deg 100% 32%) 8%,
    hsl(90deg 100% 32%) 92%,
    hsl(90deg 100% 16%) 100%
  );
}

.front {
  @apply font-bold font-merriw;

  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.front_red {
  background: hsl(30deg 100% 47%);
}

.front_yellow {
  background: hsl(60deg 100% 47%);
}

.front_green {
  background: hsl(100deg 100% 47%);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}